* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: Roboto, Oxygen, Ubuntu, 'Helvetica Neue', 'Segoe UI';
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  text-align: center;
  flex: 1;
}

.btn {
  width: 240px;
  margin: 2px;
}

a .fa,
a:visited .fa {
  margin-left: 12px;
  margin-right: 12px;
  color: #5555FF;
  transition: color 0.15s ease-in;
}

a:hover .fa {
  color: #F0F0F0;
}