* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: Roboto, Oxygen, Ubuntu, 'Helvetica Neue', 'Segoe UI';
}

html {
  background-color: #F7F7F7;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  padding: 16px;
  color: #F7F7F7;
  background-color: #272727;
}

header h1, header h2 {
  display: inline-block;
}

main {
  padding: 24px;
  flex: 1;
}

.color-button {
  width: 120px;
  margin: 2px;
}

footer {
  color: #FDFDFD;
  text-align: center;  
  background-color: #272727;
}

footer nav {
  padding: 12px;
  display: inline-block;
}

a .fa, a:visited .fa {
  margin-left: 12px;
  margin-right: 12px;
}